@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { 
        margin: 0; 
        padding: 0; 
        background-color: #f9fafb; 
        font-size: 16px; 
    }
}

/* Hide scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }